/* Site classes */
.icon-button--info {
  visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  width: auto;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  width: auto;
}

/* assignment component */

@media only screen and (min-width: 1011px) {
  .assignment-grade {
    text-align: right;
    min-width: 120px;
  }
  .assignment-display {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .assignment-ratio {
    display: inline-block;
    padding-left: 0.5rem;
  }
  .assignment-percent {
    display: inline-block;
    padding-left: 0.5rem;
  }
}

.assignment-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.assignment {
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: space-between; */
}

.assignment-display {
  padding: 0.5rem 1rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  justify-content: space-between;
}

.assignment-info {
  word-break: break-word;
}

.assignment-icon {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.icon-wrapper {
  height: 36px;
  width: 36px;
  text-align: center;
  /* font-size: 1rem; */
}

.assignment-category {
  flex: 1.5;
  color: #666;
}

.assignment-weight {
  font-weight: 700;
  font-size: 12px;
}

.assignment-right {
  display: flex;
  align-items: center;
}

.assignment-left {
  display: flex;
  align-items: center;
}

.assignment-grade {
  text-align: center;
  min-width: 60px;
}

.assignment-right > .assignment-buttons {
  padding-left: 10px;
  padding-right: 0;
  min-width: 1rem;
}

.divider-line {
  margin-top: 0.25rem;
}

li {
  opacity: 1;
}

li.remove {
  transition: all 0.1s ease-out;
  opacity: 0;
}

.assignment-form {
  margin-left: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
}

.form-middle {
  /* display: flex; */
  /* align-items: center; */
  margin: 5px 0;
}

.grade-input {
  display: grid;
  align-items: center;
  margin: 5px 0;
}

/* Selects any required <input> */
input:required {
  border: 1px solid red;
}

li.assignment + li.assignment {
  border-top: 1px solid #e1e1e1;
}

.text-input {
  padding: 12px 0;
  margin: 8px 0;
  box-sizing: border-box;
}

/* buttons */
.assignment-buttons {
  padding-right: 0.5rem;
}

.grade-button {
  transition: 0.3s;
}

.grade-button:focus {
  outline: none;
}

.add-button i:hover {
  color: #50c878;
}

.remove-button i:hover {
  color: #e84118;
}

.edit-button i:hover {
  color: #fbc02d;
}

.grade-icon {
  padding: 0.5rem;
}

.header-icon {
  padding: 0.5rem;
  padding-right: 0;
}

/* total grade */
.total-wrapper {
  /* width: 100%; */
  text-align: center;
  line-height: 0.7rem;
  margin-right: 10px;
}

.total-letter {
}

.total-percent {
  margin-top: 3px;
}

.higher-score {
  color: #50c878;
}

.lower-score {
  color: #e84118;
}

/* category grade */
@media only screen and (min-width: 1011px) {
  .category-wrapper {
    text-align: right;
  }

  .category-ratio {
    display: inline-block;
    padding-left: 0.5rem;
  }

  .category-percent {
    display: inline-block;
    padding-left: 0.5rem;
    margin-top: 0 !important;
  }
}

.category-wrapper {
  /* width: 100%; */
  text-align: center;
  line-height: 0.7rem;
  margin-right: 16px;
}

.category-ratio {
}

.category-percent {
  margin-top: 3px;
}

/* resizeable input https://codepen.io/shshaw/pen/bGNJJBE */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  padding: 0.25em 0.5em;
  margin: 5px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  transition: all 150ms ease-in-out;
}
.input-sizer.stacked {
  padding: 0.5em;
  align-items: stretch;
}
.input-sizer.stacked::after,
.input-sizer.stacked input,
.input-sizer.stacked textarea {
  grid-area: 2/1;
}
.input-sizer::after,
.input-sizer input,
.input-sizer textarea {
  width: auto;
  min-width: 1em;
  grid-area: 1/2;
  font: inherit;
  padding: 0.25em;
  margin: 0;
  resize: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.input-sizer span {
  padding: 0.25em;
}
.input-sizer::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}
.input-sizer:focus-within {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
  /* outline: solid 1px blue; */
  /* box-shadow: 4px 4px 0px blue; */
}
.input-sizer:focus-within > span {
  color: #07f;
}

.input-sizer:hover {
  border-color: #07f;
}

.input-sizer:hover > span {
  color: #07f;
}

.input-sizer:focus-within textarea:focus,
.input-sizer:focus-within input:focus {
  outline: none;
}

.input-sizer {
  /* box-shadow: 4px 4px 0px #000; */
}
.input-sizer > span {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  /* text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15); */
}

.input-sizer ::placeholder {
  /* color: #5a667f; */
  opacity: 1; /* Firefox */
}

/* Checkbox https://codepen.io/aaroniker/pen/ZEYoxEY */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    /* border: 1px solid #e8eaed; */
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  .checkbox-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .checkbox-wrapper > .input-sizer {
    margin-bottom: 0;
    margin-top: 0;
  }

  input[type="checkbox"]:after,
  input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type="checkbox"]:disabled:checked,
  input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  input[type="checkbox"]:hover:not(:checked):not(:disabled),
  input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
  }
  input[type="checkbox"]:not(.switch),
  input[type="radio"]:not(.switch) {
    width: 21px;
  }
  input[type="checkbox"]:not(.switch):after,
  input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type="checkbox"]:not(.switch):checked,
  input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
    margin-left: 5px;
  }
  input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type="radio"] {
    border-radius: 50%;
  }
  input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type="radio"]:checked {
    --s: 0.5;
  }
}

/* select menu https://codepen.io/avstorm/pen/bPOgRO */
.select-input {
  margin-left: 5px;
}
.select {
  position: relative;
  min-width: 200px;
}
.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  /* width: 100%; */
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  /* font-size: 16px; */
  transition: all 150ms ease;
}
.select select:required:invalid {
  /* color: #5a667f; */
  color: #a1afc0;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover + svg {
  stroke: #07f;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
